/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap');

body {
    font-family: "Inter", sans-serif;
    background: rgb(0, 0, 0);
}

* {
    margin: 0;
}

/* shared styles */
.container {
    width: 80%;
    margin: 5rem auto;
    border-radius: 1rem;
    color: rgb(255, 255, 255);
}

.btn-primary {
    width: 224px;
    height: 54px;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: 1px solid rgb(230, 83, 60);
}

.coral-red {
    color: rgb(230, 83, 60);

}

h3 {
    font-weight: 900;
    font-size: 3rem;
}

p {
    font-size: 0.875rem;
    opacity: 0.5;

}

/* navbar section styles */
.nav-container {
    display: flex;
    justify-content: space-between;
}

.title {
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 800;
    font-style: italic;
}

.nav-option {
    display: flex;
    gap: 47px;
    align-items: center;
    text-align: center;
    font-size: 1.125rem;
}

.special {
    width: 92px;
    height: 38px;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hem-burger {
    display: none;
}

/* banner section styles */
.banner-container {
    display: flex;

}

.banner-section {
    width: 50%;
}

.banner-section h1 {
    font-size: 4.875rem;
    font-weight: 900;
}

.banner-section p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
    text-align: left;
}

.special-word {
    font-family: "Ballet", cursive;

}

.btn-black {
    border: 1px solid rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.card-section {
    width: 50%;
    background-image: url(../images/Images-2.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto 100%;
}

.card1 {
    width: 193px;
    height: 98px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.75 rem;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    margin: 74px 74px 0 350px;

}

.card1 h3 {
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
}

.card1 p {
    font-size: 0.8125 rem;
    opacity: 0.65;
    text-align: center;
}

.fa-play {
    margin-left: 35px;
}

.card2 {
    width: 206px;
    height: 96px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.75 rem;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    margin-top: 100px;
    margin-left: 20px;
}

.card2 i {
    font-size: 2.5rem;
    position: absolute;
    top: 25px;
    margin-left: 5px;
    color: rgb(230, 83, 60);
}

.card2 h3 {
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
}

.card2 p {
    font-size: 0.8125 rem;
    opacity: 0.65;
    text-align: center;
}

/* change-your-habit section */
.change-your-habit-container {
    height: 100%;

}

.habit-section {
    text-align: center;
}

.habit-section h3 {
    font-weight: 900;
    font-size: 3rem;
    line-height: 120%;

}

.habit-section p {
    font-size: 0.875rem;
    opacity: 0.5;
    margin-top: 10px;
}

.fitness-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 58px;
}

.fitness img {
    border-radius: 50%;
}

.fitness h4 {
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 10px;
}

.fitness p {
    font-size: 0.875rem;
    opacity: 0.5;
    margin-top: 5px;
}

/* run an extra section styles */
.run-an-extra-container {
    display: flex;
    border-radius: 18px;
    background: rgb(34, 34, 34);
}

.run-an-extra-section {
    margin-left: 54px;
    margin-top: 41px;
}

.run-an-extra-section p {
    margin-top: 10px;
    margin-bottom: 34px;
}

.btn-primary {
    margin-bottom: 40px;
    color: rgb(255, 255, 255);
}

.run-an-extra-img img {
    width: 60%;
    height: 90%;

}

.run-an-extra-img {
    display: flex;
    justify-content: right;
    margin-top: 35px;
    margin-right: 35px;
}

/* meet our team section styles */
.trainer-container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
}

.trainer-section {
    display: grid;
    grid-template-rows: repeat(2, 3fr);
    margin: 20px;
}

.meet-title {
    text-align: center;
}

.meet-description {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 58px;
}

.trainer img {
    width: 100%;
    height: 95%;
    border-radius: 1.125rem;
    background: rgba(0, 0, 0, 0.2);

}

.row1,
.row2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;

}

.trainer {
    position: relative;
}

.person-profession {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80%;
    left: 25%;
    transform: translate(-80%, -25%);
    font-weight: 900;
}

/* footer section styles */
.footer-container {
    background: rgba(255, 255, 255, 0.1);
}

.footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
}

h6 {
    font-size: 1.5rem;
    font-weight: 700;
}

.copyright {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.125rem;
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;

}

.part1 h3 {
    padding-top: 1rem;
    margin-bottom: .75rem;
}

.part2,
.part3 {
    margin-top: 2rem;
}

.part2 p,
.part3 p {
    padding: .5rem;
}